#test-bundle_jade.panel.panel-default.panel-span-2
   .panel-heading
      h3.panel-title Test Panel Jade
      i.fa.fa-list-ol.panel-icon
   .panel-body
      p.js-bundleConfig !{ bundleConfig.test }
      p.js-ncgConfig !{ ncgConfig.host }
