.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.instance {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.table-row {
	&:where(tr):where([data-striped=odd]:nth-of-type(odd)) {
		background-color: #222c3c;
	}
}
