.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.instance {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
