doctype html
html(lang="en")
    head
        title NodeCG display

        //- Web Component support
        script(src='/components/webcomponentsjs/webcomponents-lite.min.js')

        //- import display views
        each view in views
            link(rel='import', href='/display/' + view.bundle.name + '/' + view.file)

        //- display CSS
        link(rel='stylesheet', href='/display/display.css')

        //- make the global config available
        script(type='text/javascript').
            window.ncgConfig = !{ JSON.stringify(ncgConfig) };

        //- initialize the socket
        script(src='/components/cookies-js/dist/cookies.min.js')
        script(src='/components/cn-jsurl/url.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/nodecg-socket.js')

    body(style='width: ' + width + 'px; height: ' + height + 'px;')
        each view in views
            #{view.element}(bundle=JSON.stringify(view.bundle))
