root = true

# Enforce Unix line-endings
# 4 spaces instead of tabs
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

charset = utf-8

# NPM forces an indent size of 2 on package.json.
# If you can't beat em, join em.
[*.json]
indent_size = 2

# Don't remove trailing whitespace from Markdown
[*.md]
trim_trailing_whitespace = false
