/bundles/
node_modules
bower_components
nodecg-api.min.js
/typetest
/test/fixtures/bundle-parser/invalid-manifest-json/package.json

# Un-ignore this once we switch this codebase over to typescript.
# Right now it fails because we don't have a tsconfig.json
/types
