{
	"extends": "xo/esnext",
	"rules": {
		"new-cap": [0],
		"babel/new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer",
					"nodecg.Replicant",
					"e.apis.extension.Replicant",
					"window.dashboardApi.Replicant"
				]
			}
		]
	}
}
