{
	"extends": "xo/esnext",
	"parser": "babel-eslint",
	"settings": {
		"ecmaFeatures": {
			"classes": true
		}
	},
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer",
					"nodecg.Replicant",
					"e.apis.extension.Replicant",
					"window.dashboardApi.Replicant"
				]
			}
		]
	}
}
