# Node / Bower
bower_components/
node_modules/

# Local bundles
/bundles/**

# Datastores
/db/**

# Logs
/logs/**

# User config
/config.json

# OS specific
.DS_Store

# JetBrains IDEs (IntelliJ/WebStorm)
.idea/
*.iml

# Don't ignore .empty_directory files
!.empty_directory
