/.nyc_output
/assets
/bower_components
/build
/bundles
/cfg
/db
/logs
/media
/node_modules
.env

# Intentionally broken as part of tests
/test/fixtures/bundle-parser/bad-json/bundleConfig.json
/test/fixtures/bundle-parser/bad-schema/configschema.json
/test/fixtures/bundle-parser/invalid-manifest-json/package.json

/instrumented
