env:
  - NODE_VERSION=0.12
  - NODE_VERSION=iojs
  global:
    - secure: UTOIm7gj3nevCdM2gWW4TKm26QIf+CtGLy7KRy03maWy8Yxfb5JbjtFeeXDSnuxKROr/HyBUotgD+bTOV48QQEjzRNMzjG215S0kbXo22D3p52rZ8Xdb3uQWifi5burqLNIDHx5F8suidN/bvuSxX2ZLO9MizdAmsxtQBtOjuvE=
    - secure: FXrHIYwBQrovaiB5EhLnnVznuWos7mmPyb2Vu0lFQJ7h0rKY+1FEfuRlnEb04ZV0otoUL2ZQRTEd2DDSqJ6gzFm4k/8bAXP6tn9grpWy0v/zN9B/Azje47TbafiziftOOEWXyEbMv60WOxB+0lHkrl4c1TOSI1r5RPsGNIdw8jo=

addons:
  sauce_connect: true

sudo: false

os:
  - osx
  - linux

install:
  - test $TRAVIS_OS_NAME = "osx" && brew update && brew install nvm && source $(brew --prefix nvm)/nvm.sh || test $TRAVIS_OS_NAME = "linux"
  - nvm install $NODE_VERSION
  - node --version
  - npm --version
  - npm install

script:
  - npm test

after_success: npm run coveralls

matrix:
  allow_failures:
    - os: osx
  fast_finish: true

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8c1769bff63cbd033bf7
    on_success: always
    on_failure: always
    on_start: false
  slack:
    secure: R+TkavWRhREwc9shV6JYJ+YrrMdpaSB5iYlVVhtO4XjSJPtbsgFvg8aelELIfwUY/Lsl6dmUD8bhv1GxN4Bdui7igrGEzXqh+ziJSnPET0Apxyc2HFYzM3phQYwsESyFXGfx9PiegLQ6fcozZ75rio17YhPjT8//9jb5I9hue9g=
