sudo: false
dist: trusty

language: node_js
node_js:
  - '8'

os:
  - linux

cache:
  directories:
    - bower_components
    - '$HOME/.npm'
    - $(npm config get prefix)

before_install:
  - npm i -g npm@5.7.1
  - npm install -g codecov bower

install:
  - npm install
  - bower install

after_success: npm run report-coverage

matrix:
  fast_finish: true

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8c1769bff63cbd033bf7
    on_success: always
    on_failure: always
    on_start: never
  slack:
    secure: R+TkavWRhREwc9shV6JYJ+YrrMdpaSB5iYlVVhtO4XjSJPtbsgFvg8aelELIfwUY/Lsl6dmUD8bhv1GxN4Bdui7igrGEzXqh+ziJSnPET0Apxyc2HFYzM3phQYwsESyFXGfx9PiegLQ6fcozZ75rio17YhPjT8//9jb5I9hue9g=
