sudo: false
dist: trusty

language: node_js
node_js:
  - '8'

os:
  - linux

env:
  global:
    - secure: UTOIm7gj3nevCdM2gWW4TKm26QIf+CtGLy7KRy03maWy8Yxfb5JbjtFeeXDSnuxKROr/HyBUotgD+bTOV48QQEjzRNMzjG215S0kbXo22D3p52rZ8Xdb3uQWifi5burqLNIDHx5F8suidN/bvuSxX2ZLO9MizdAmsxtQBtOjuvE=
    - secure: FXrHIYwBQrovaiB5EhLnnVznuWos7mmPyb2Vu0lFQJ7h0rKY+1FEfuRlnEb04ZV0otoUL2ZQRTEd2DDSqJ6gzFm4k/8bAXP6tn9grpWy0v/zN9B/Azje47TbafiziftOOEWXyEbMv60WOxB+0lHkrl4c1TOSI1r5RPsGNIdw8jo=
    - CXX=g++-4.8

cache:
  apt: true
  directories:
    - node_modules
    - bower_components
    - '$HOME/.npm'
    - $(npm config get prefix)

addons:
  sauce_connect: true
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - google-chrome
    packages:
      - g++-4.8
      - google-chrome-stable

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash ./test/helpers/travis_pr_setup.sh; fi'

install:
  - npm install

before_script:
  - npm install -g bower
  - npm install -g grunt-cli
  - bower install

after_success: npm run coveralls

matrix:
  fast_finish: true

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8c1769bff63cbd033bf7
    on_success: always
    on_failure: always
    on_start: never
  slack:
    secure: R+TkavWRhREwc9shV6JYJ+YrrMdpaSB5iYlVVhtO4XjSJPtbsgFvg8aelELIfwUY/Lsl6dmUD8bhv1GxN4Bdui7igrGEzXqh+ziJSnPET0Apxyc2HFYzM3phQYwsESyFXGfx9PiegLQ6fcozZ75rio17YhPjT8//9jb5I9hue9g=
