body {
  padding-top: 50px;
}
textarea {
  max-width: 100%;
}
.dashboard-panels {
  padding: 40px 15px;
}
.panel-title {
  display: inline-block;
}
.panel-heading {
  .popover {
    left: auto!important; right: 0px; /* bootstrap really wants to add a left value for whatever reason */
    margin-left: 8px!important;
    margin-right: 8px!important;

    .arrow {
      left: auto; right: 33px;
    }
  }
  .popover-content {
    overflow-wrap: break-word;
  }
}
.panel-info {
  width: auto!important;
  float: right;
  margin-right: 4px;
  font-size: 0.8em;
}
.fa {
  float: right;
  font-size: 20px;
}
.panel-span-1 {
  width: 128px;
}
.panel-span-2 {
  width: 256px;
}
.panel-span-3 {
  width: 384px;
}
.panel-span-4 {
  width: 512px;
}
.panel-span-5 {
  width: 640px;
}
.panel-span-6 {
  width: 768px;
}
.panel-span-7 {
  width: 896px;
}
.panel-span-8 {
  width: 1024px;
}

