body {
  padding-top: 50px;
}
textarea {
  max-width: 100%;
}
.dashboard-panels {
  padding: 40px 15px;
}
.panel-title {
  display: inline-block;
}
.fa {
  float: right;
}
.panel-span-1 {
  width: 128px;
}
.panel-span-2 {
  width: 256px;
}
.panel-span-3 {
  width: 384px;
}
.panel-span-4 {
  width: 512px;
}
.panel-span-5 {
  width: 640px;
}
.panel-span-6 {
  width: 768px;
}
.panel-span-7 {
  width: 896px;
}
.panel-span-8 {
  width: 1024px;
}