body {
  padding-top: 50px;
}
textarea {
  max-width: 100%;
}
.dashboard-panels {
  padding: 40px 15px;
}
.panel-title {
  display: inline-block;
}
.panel-heading {
  .popover {
    left: auto!important; right: 0px; /* bootstrap really wants to add a left value for whatever reason */
    margin-left: 8px!important;
    margin-right: 8px!important;

    .arrow {
      left: auto; right: 31px;
    }
  }
  .popover-content {
    overflow-wrap: break-word;
  }
}
.panel-icon {
  width: 20px;
  text-align: center;
}
.panel-info {
  width: auto!important;
  height: 21px!important;
  float: right;
  margin-right: 4px;

  .fa {
    font-size: 16px;
    margin-top: -1px; // this is me being nitpicky but the icon is just a little bit too low in the button otherwise
  }
}
.fa {
  float: right;
  font-size: 21px;
}

.generate-panel-spans(8);

.generate-panel-spans(@n, @i: 1) when (@i =< @n) {
  .panel-span-@{i} {
    width: (@i * 128px);
  }
  .generate-panel-spans(@n, (@i + 1));
}