doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge; charset=UTF-8")
        meta(name="viewport" content="width=device-width" initial-scale=1)
        title Authorization Error
        //Bootstrap main CSS & Yeti override
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/bower_components/bsw-yeti/css/bootstrap.min.css')
        link(rel='stylesheet' href='/login/authError.css')
    body
        div.container
            h1 Authorization Error
            hr
            h3=code
            h4=message

            if viewUrl
                hr
                p You're seeing this page because the key you provided for <b>#{viewUrl}</b> was not valid.
