doctype html
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge; charset=UTF-8")
		meta(name="viewport", content="width=device-width", initial-scale=1)

		title NodeCG login

		link(rel='import', href='/bower_components/paper-styles/typography.html')

		style(is='custom-style' include='iron-flex iron-flex-alignment').
			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 40px;
				background-color: #eee;
			}

			h2 {
				@apply(--paper-font-headline);
			}

	body
		h2 Please sign in

		if config.login.steam && config.login.steam.enabled
			a(href='/login/steam')
				img(src='/login/signin_steam.png')

		if config.login.twitch && config.login.twitch.enabled
			a(href='/login/twitch')
				img(src='/login/signin_twitch.png')
