.control {
	text-transform: capitalize;
	font-weight: 500;
	display: block;
	width: 100%;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	color: var(--mantine-color-text);
	font-size: var(--mantine-font-size-sm);

	@mixin hover {
		background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-1));
		color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
	}
}

.link {
	font-weight: 500;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	padding-left: var(--mantine-spacing-md);
	margin-left: var(--mantine-spacing-xl);
	font-size: var(--mantine-font-size-sm);
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
	border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-2));
	border-radius: 0 var(--mantine-radius-sm) var(--mantine-radius-sm) 0;

	@mixin hover {
		background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-1));
		color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
	}

	&[data-active=true] {

		&,
		&:hover {
			background-color: var(--mantine-color-blue-light);
			color: var(--mantine-color-blue-light-color);

			.linkIcon {
				color: var(--mantine-color-blue-light-color);
			}
		}
	}
}

.chevron {
	transition: transform 200ms ease;
}
