@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	margin: 0;
	background-color: #232c3d;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

a {
	color: white;
}

#container {
	padding: 14px;
	background-color: #c04049;
	color: white;
	font-size: 16px;
	position: absolute;
	max-width: 600px;
	box-shadow: 0px 4px 8px 2px #00000057;
	animation: pop 0.4s ease-in-out;
}

#graphicPath {
	font-weight: bold;
	padding: 10px;
	background-color: #525e78;
}

.code {
	font-family: monospace;
}

@keyframes pop {
	0% {
		margin-top: 2rem;
		opacity: 0;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}
