block vars
div(id='#{ id }', class='panel panel-default panel-span-#{ width }')
    .panel-heading
        h3.panel-title= title
        i(class='fa #{ faIcon } panel-icon')
    .panel-body
        block panel-body
