// Half-implemented idea, can use this to help write a bundle's panel in Jade if you want.
// Probably going away soon.

block vars
div(id='#{ id }', class='panel panel-default panel-span-#{ width }')
    .panel-heading
        h3.panel-title= title
        i(class='fa #{ faIcon } panel-icon')
    .panel-body
        block panel-body
