{
	"root": true,
	"extends": "xo/browser",
	"globals": {
		"Polymer": true,
		"NodeCG": true
	},
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer",
					"nodecg.Replicant",
					"NodeCG.Replicant"
				]
			}
		]
	}
}
