.panel {
	overflow: hidden;
}

.header {
	background-color: light-dark(
		var(--mantine-color-gray-0),
		var(--mantine-color-dark-6)
	);
	font-weight: bold;
	padding: var(--mantine-spacing-sm);
	display: flex;
	justify-content: space-between;
}

.iframe {
	display: block;
	border: none;
	scrollbar-width: none;
	height: 100%;
	width: 100%;
}

.fullbleed {
	border: none;
	border-radius: 0;
	height: 100%;
	width: 100% !important;
}
