.panel {
	display: inline-block;
}

.header {
	background-color: var(--mantine-color-dark-6);
	font-weight: bold;
	padding: var(--mantine-spacing-sm);
	display: flex;
	justify-content: space-between;
}

.iframe {
	border: none;
	scrollbar-width: none;
}
