.workspace {
	flex-grow: 1;
	padding: var(--mantine-spacing-md);
	padding-top: 0;
}

.workspace > h1 {
	text-transform: capitalize;
	margin-top: var(--mantine-spacing-sm);
}

.fullbleed {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
}
