.accordion-item {
	/* background-color: #516077;
	--item-border-color: #d5d8dc; */

	/* &[data-active=true] {
		background-color: #2e3b4e;
	} */
}

.accordion-label {
	/* font-weight: bold;
	font-size: large; */
}

.table {
	/* border-radius: var(--mantine-radius-default);
	--table-border-color: rgba(213, 216, 220, 0.3); */
}
