name: CI

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

concurrency:
  group: ${{github.workflow}}-${{github.event_name}}-${{github.event.pull_request.number || github.event.ref}}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: corepack enable npm
      - run: npm ci
      - run: npm run lint

  test-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: corepack enable npm
      - run: npm ci
      - run: npm run build
      - run: npm run typetest

  build-test:
    strategy:
      matrix:
        node-version:
          - 22
          - 24
        os:
          - ubuntu-latest
      fail-fast: false
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
          cache: npm
      - run: corepack enable npm

      - name: Ensure that bundle git parsing functionality works
        run: |
          git config --global user.email "ci@nodecg.dev"
          git config --global user.name "NodeCG Bot"

      - name: Restore Puppeteer cache (Linux)
        if: runner.os == 'Linux'
        uses: actions/cache@v4
        with:
          path: |
            /home/runner/.cache/puppeteer
          key: puppeteer-${{ runner.os }}

      - name: Restore Puppeteer cache (Windows)
        if: runner.os == 'Windows'
        uses: actions/cache@v4
        with:
          path: |
            C:\Users\runneradmin\.cache\puppeteer
          key: puppeteer-${{ runner.os }}

      - run: npm ci
      - run: npm run build

  pr-release:
    permissions:
      contents: read
      id-token: write
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    environment: PR Release
    needs:
      - lint
      - test-types
      - build-test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org
      - run: corepack enable npm

      - run: npm ci
      - run: npm run build

      - run: |
          npx tsx scripts/prepare-prerelease.ts --version 0.0.0-pr${{ github.event.number }}.${{ github.sha }}
          npm --workspaces publish --tag pr${{ github.event.number }}
          npm publish --tag pr${{ github.event.number }}
          npx tsx scripts/prepare-publish-types.ts
          npm publish --tag pr${{ github.event.number }}

  pr-dry-run-container-build:
    if: github.event_name == 'pull_request'
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

  release-please:
    permissions:
      contents: write
      pull-requests: write
    if: github.event_name == 'push' && github.ref_name == 'main'
    runs-on: ubuntu-latest
    outputs:
      prs_created: ${{ steps.release.outputs.prs_created }}
      pr: ${{ steps.release.outputs.pr }}
      releases_created: ${{ steps.release.outputs.releases_created }}
      root_release_created: ${{ steps.release.outputs.release_created }}
      root_release_version: ${{ steps.release.outputs.version }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-config.json
      - run: |
          echo '${{ toJson(steps.release.outputs) }}'
          echo '${{ steps.release.outputs.releases_created }}'
          echo '${{ steps.release.outputs.prs_created }}'

  update-lock-file:
    permissions:
      contents: write
    needs:
      - release-please
    if: ${{ needs.release-please.outputs.prs_created }}
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ fromJson(needs.release-please.outputs.pr).number }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: gh pr checkout ${{ env.PR_NUMBER }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: corepack enable npm
      - run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          npm install
          if git diff --quiet package-lock.json; then
            echo "lock file is up to date"
          else
            git add package-lock.json
            git commit -m "chore: update package-lock.json"
            git push origin HEAD:main
          fi

  publish:
    permissions:
      contents: read
      id-token: write
    needs:
      - release-please
      - lint
      - test-types
      - build-test
    environment: ${{ needs.release-please.outputs.releases_created && '' || 'Canary Release' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org
      - run: corepack enable npm

      - run: npm ci
      - run: npm run build

      - if: ${{ needs.release-please.outputs.releases_created }}
        name: Publish to NPM
        run: |
          npm --workspaces publish
          npm publish
          npx tsx scripts/prepare-publish-types.ts
          npm publish

      - if: ${{ !needs.release-please.outputs.releases_created }}
        name: Publish Canary to NPM
        run: |
          npx tsx scripts/prepare-prerelease.ts --version 0.0.0-canary.${{ github.sha }}
          npm --workspaces publish --tag canary
          npm publish --tag canary
          npx tsx scripts/prepare-publish-types.ts
          npm publish --tag canary

  docker-image:
    permissions:
      contents: write
      packages: write
    needs:
      - release-please
      - lint
      - test-types
      - build-test
    if: ${{ needs.release-please.outputs.root_release_created }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{major}}.{{minor}}.{{patch}},value=${{ needs.release-please.outputs.root_release_version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ needs.release-please.outputs.root_release_version }}
            type=semver,pattern={{major}},value=${{ needs.release-please.outputs.root_release_version }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
