name: Merge Queue

on:
  merge_group:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: corepack enable npm
      - run: npm ci
      - run: npm run lint

  test-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: corepack enable npm
      - run: npm ci
      - run: npm run build
      - run: npm run typetest

  build-test-matrix:
    strategy:
      matrix:
        node-version:
          - 20
          - 22
          - 24
        os:
          - ubuntu-latest
          - windows-latest
      fail-fast: false
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
          cache: npm
      - run: corepack enable npm

      - name: Ensure that bundle git parsing functionality works
        run: |
          git config --global user.email "ci@nodecg.dev"
          git config --global user.name "NodeCG Bot"

      - name: Restore Puppeteer cache (Linux)
        if: runner.os == 'Linux'
        uses: actions/cache@v4
        with:
          path: |
            /home/runner/.cache/puppeteer
          key: puppeteer-${{ runner.os }}

      - name: Restore Puppeteer cache (Windows)
        if: runner.os == 'Windows'
        uses: actions/cache@v4
        with:
          path: |
            C:\Users\runneradmin\.cache\puppeteer
          key: puppeteer-${{ runner.os }}

      - run: npm ci
      - run: npm run build

      - if: matrix.os != 'ubuntu-latest' || matrix.node-version != '24'
        run: npx vitest --reporter=default --reporter=junit --outputFile=test-report.junit.xml
      - if: matrix.os == 'ubuntu-latest' && matrix.node-version == '24'
        run: npx vitest --coverage --reporter=default --reporter=junit --outputFile=test-report.junit.xml
      - if: (success() || failure()) && matrix.os == 'ubuntu-latest'
        uses: trunk-io/analytics-uploader@v1
        with:
          junit-paths: test-report.junit.xml
          org-slug: nodecg
          repo-head-branch: main
          variant: ${{ runner.os }}
          token: ${{ secrets.TRUNK_API_TOKEN }}
      - if: (success() || failure()) && matrix.os == 'windows-latest'
        run: |
          Invoke-RestMethod -Uri https://trunk.io/releases/trunk.ps1 -OutFile trunk.ps1
          Set-ExecutionPolicy Bypass -Scope CurrentUser
          .\trunk.ps1 --% flakytests upload --junit-paths test-report.junit.xml --org-url-slug nodecg --repo-head-branch main --variant ${{ runner.os }} --token ${{ secrets.TRUNK_API_TOKEN }}
      - if: success() || failure()
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: test-report.junit.xml
          override_branch: main
      - if: matrix.os == 'ubuntu-latest' && matrix.node-version == '24'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          override_branch: main

  build-test:
    needs: build-test-matrix
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        if: needs.build-test-matrix.result != 'success'

  container-build-matrix:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

  container-build:
    needs: container-build-matrix
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        if: needs.container-build-matrix.result != 'success'
